@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #fff1eb;
  --foreground: #0a0a0a;
  --primary: #d36836;
}

.dark {
  --background: #171412;
  --foreground: #ffffff;
  --primary: #d36836;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
}

@layer utilities {
  .section-title {
    @apply text-xl lg:text-2xl font-semibold leading-tight mb-4 tracking-wide text-primary;
    font-family: var(--font-dancing), cursive;
  }

  .section-subtitle {
    @apply text-3xl lg:text-4xl dark:text-[#E2D5D0] font-medium leading-12 mb-6 tracking-wide;
  }

  .section-description {
    @apply text-[#68544B] dark:text-[#B4A197] text-sm lg:text-[18px] leading-relaxed;
    font-family: var(--font-poppins), sans-serif;
  }

  .container {
    @apply max-w-[1200px] mx-auto px-4 md:px-5;
  }

  .flex-center {
    @apply flex justify-center items-center
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}

.font-lora {
  font-family: var(--font-lora), serif;
}


.font-poppins {
  font-family: var(--font-poppins), sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #a0a0a0;
  border-radius: 9999px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.ant-btn {
  box-shadow: none !important;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}